.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.card {
  cursor: pointer;
}
.flipped {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  width: 100px;
  height: 100px;
}
.flipped-item {
  padding: 1px;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn-innerChild {
  border: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #555555;
  color: white;
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 0) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
  }
}
